<div class ="container">
  <div class ="product_form">
    <div class = "col-md-9">
<h1>Products</h1>

<% if @products.any? %>
  <ul class= "product_list">
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
    </div>
  </div>

<div class ="links4"><%= link_to "Home", root_path, class: 'button2'%>
</div>
<br>
<div class ="links3"><%= link_to "Create New Product", new_product_path, class: 'button1' %>
</div>
</div>